<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Monster Killer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="container mt-5 text-center">
        <h1 class="text-dark">The Monster Killer Game</h1>
        <!-- helth bars -->
        <div class="row mt-5">
          <div class="col-md-6">
            <h3>You</h3>
            <div class="progress">
              <div
                class="progress-bar"
                :class="playerHealth <= 30 ? 'bg-danger' : 'bg-info'"
                role="progressbar"
                :style="{'width' : playerHealth + '%'}"
              ></div>
            </div>
          </div>
          <div class="col-md-6">
            <h3>Monster</h3>
            <div class="progress">
              <div
                class="progress-bar"
                :class="monsterHealth <= 30 ? 'bg-danger' : 'bg-success'"
                role="progressbar"
                :style="{'width' : monsterHealth + '%'}"
              ></div>
            </div>
          </div>
        </div>
        <!-- Controller -->
        <div class="container mt-4">
          <h3 class="text-muted">Game Controller</h3>
          <!-- Start game -->
          <template v-if="gameStarted">
            <div class="row mt-3 jumbotron py-4">
              <div class="col-lg-3">
                <button
                  class="btn btn-info"
                  @click="reduceMoHealth"
                  :disabled="monsterHealth <= 0 || playerHealth <=0 ? true : false "
                >
                  Attack
                </button>
              </div>
              <div class="col-lg-3">
                <button
                  class="btn btn-warning"
                  @click="reduceMoHealthSpe"
                  :disabled="monsterHealth <= 0  || playerHealth <=0 || !spcBtnOn ? true : false "
                >
                  Special Attack
                </button>
              </div>
              <div class="col-lg-3">
                <button
                  class="btn btn-success"
                  @click="takeHealth"
                  :disabled="monsterHealth <= 0  || playerHealth <=0 || !helthBtnOn ? true : false "
                >
                  Take Health
                </button>
              </div>
              <div class="col-lg-3">
                <button class="btn btn-danger" @click="endGame">
                  End The Game
                </button>
              </div>
            </div>
          </template>
          <!-- Stop game -->
          <template v-else>
            <div class="jumbotron">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-warning" @click="gameStart">
                    Start The Game
                  </button>
                </div>
              </div>
            </div>
          </template>
        </div>
        <!-- output Console -->
        <div class="container mt-5">
          <h3 class="text-muted text-danger font-weight-bold">
            <span v-if="monsterHealth <=0" class="text-success"> You Own </span>
            <span v-else-if="playerHealth <=0" class="text-danger">
              Monster Own
            </span>
            <span v-else class="text-dark">Console</span>
          </h3>
          <div class="row mt-4">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
              <div class="jumbotron output p-4">
                <template v-if="output.length > 0">
                  <template v-for="out in output.slice().reverse()" >
                    <span v-html="out"></span>
                  </template>
                </template>
                <template v-else>
                  <h6 class="font-wight-bold p-5">
                    Wellcome to the Monster Killer Game
                  </h6>
                </template>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
